* {
    background-color: #F2F2F2;
}

p, li {
    font-family: fira-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #8087AC;
}

.big_p {
    font-size: 22px;
    font-weight: 200;
}

h1 {
    font-family: fira-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #020f59;
    font-size: 25px;
}

.big_h1 {
    font-size: 75px;
}

h2 {
    font-family: fira-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #8C034E;
    font-size: 18px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.download_button {
    margin-top: 60px;
    border: 0px;
    padding: 0px;
    height: 40px;
    width: 150px;
    font-family: fira-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: white;
    background: #8087AC;
}

.download_button:hover {
    background: #8C034E;
}

.services {
    padding-top: 50px;
}

.header {
    text-align: center;
    margin-right: 150px;
    margin-left: 150px;
    margin-bottom: 100px;
    margin-top: 100px;
}

@media only screen and (max-width: 1149px) {
    .download_button {
        margin-bottom: 50px;
    }
    .center_mobile {
        text-align: center;
    }
}

@media only screen and (max-width: 900px) {
    .big_h1 {
        font-size: 50px;
        line-height: 1.2;
    }
    .header {
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 100px;
        margin-top: 100px;
    }
    .big_p {
        font-size: 18px;
    }
}

@media only screen and (max-width: 400px) {
    .download_button {
        margin-top: 50px;
    }
}