.footer_diagonal {
    height: 300px;
    width: 100%;
    background-color: #8C034E;
    transform: skewY(-20deg);
    position: relative;
    top: 200px;
    display: flex;
    justify-content: space-evenly;
}

.footer_container {
    background-color: #8C034E;
}

.overall_container {
    margin-top: 75px;
}

.footer {
    margin-top: 50px;
    background-color: #8C034E;
    position: relative;
    height: 500px;
    background-image: url(ampersand.png);
    background-position: 90% 10%;
    background-repeat: no-repeat;
    background-size: 400px;
}

.link_style {
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    color: #718B03;
}

.link_style:hover {
    color: #80961C;
}

@media only screen and (min-width: 2481px) {
    .footer_diagonal {
        transform: skewY(0deg);
        height: 300px;
        position: relative;
        top: 150px;
        display: flex;
        justify-content: space-evenly;
        padding-top: 30px;
    }
    .footer_container {
        background-color: #8C034E;
    }
    .footer {
        position: relative;
        height: 500px;
        background-position: 50% 50%;
        background-size: 400px;
    }
}

@media only screen and (min-width: 2000px) and (max-width: 2480px) {
    .overall_container {
        margin-top: 5px;
    }
    .footer_diagonal {
        height: 900px;
    }
    .footer {
        height: 900px;
        bottom: 300px;
        background-size: 750px;
    }
}

@media only screen and (min-width: 1600px) and (max-width: 1999px) {
    .overall_container {
        margin-top: 5px;
    }
    .footer_diagonal {
        height: 800px;
    }
    .footer {
        height: 800px;
        bottom: 200px;
        background-size: 650px;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1599px) {
    .overall_container {
        margin-top: 5px;
    }
    .footer_diagonal {
        top: 230px;
        height: 750px;
    }
    .footer {
        height: 750px;
        bottom: 100px;
        background-size: 650px;
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1399px) {
    .footer_diagonal {
        height: 550px;
        top: 80px;
    }
    .footer {
        height: 500px;
        bottom: 220px
    }
}

@media only screen and (min-width: 898px) and (max-width: 1099px) {
    .footer_diagonal {
        height: 500px;
        top: 100px;
    }
    .footer {
        height: 500px;
        bottom: 150px
    }
}

@media only screen and (min-width: 838px) and (max-width: 897px) {
    .footer_diagonal {
        height: 500px;
        top: 100px;
    }
    .footer {
        height: 500px;
        bottom: 110px;
    }
}

@media only screen and (min-width: 501px) and (max-width: 837px) {
    .overall_container {
        margin-top: 5px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
    .overall_container {
        margin-top: 5px;
    }
    .footer {
        background-position: 50% 50%;
        background-size: 300px;
    }
}

@media only screen and (max-width: 319px) {
    .overall_container {
        margin-top: 5px;
    }
    .footer {
        background-position: 50% 50%;
        background-size: 250px;
    }
}