.what_we_do_home {
    margin-top: 150px;
    padding-top: 30px;
    width: 150px;
    border-top: 2px solid #8087AC;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-weight: 400;
    font-size: 22px;
    color: #020F59;
}

.what_we_do_grid {
    display: grid;
    grid-template-areas: 'a b c' 'd e f';
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
    padding-top: 30px;
}

.grid_area_1 {
    grid-area: a;
}

.grid_area_2 {
    grid-area: b;
}

.grid_area_3 {
    grid-area: c;
}

.grid_area_4 {
    grid-area: d;
}

.grid_area_5 {
    grid-area: e;
}

.grid_area_6 {
    grid-area: f;
}

.grid_items {
    padding-right: 30px;
    padding-left: 30px;
}

@media only screen and (max-width: 810px) {
    .what_we_do_grid {
        grid-template-areas: 'a' 'd' 'b' 'e' 'c' 'f';
        padding-right: 20px;
        padding-left: 20px;
    }
    .grid_area_1, .grid_area_2, .grid_area_3 {
        padding-top: 30px;
    }
    .icon {
        width: 62px;
    }
    .icon_vertical {
        height: 62px;
    }
}