.home_header {
    text-align: center;
    margin-right: 150px;
    margin-left: 150px;
    margin-bottom: 100px;
    margin-top: 100px;
}

.home_h1 {
    font-size: 75px;
}

.home_p {
    font-size: 22px;
    font-weight: 200;
}

@media only screen and (max-width: 900px) {
    .home_header {
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 100px;
        margin-top: 100px;
    }
    .home_h1 {
        font-size: 50px;
        line-height: 1.2;
    }
    .home_p {
        font-size: 18px;
    }
}